
<h1 class="bg-success " src="">Hello {{name}}</h1>
<input type="text" [(ngModel)]="a">
<button (click)="addCourse()">Add a new Course</button>
<ul class="list-group">
<li *ngFor="let course of courses;let i=index" (click)="viewCourse(course)" 
	class="list-group-item" [class.list-group-item-success]="selectedCourse==course"> 
	{{course.id}}-<img [src]="course.img_url" style="width:50px;height:50px;">{{course.name}}
	<button (click)="viewCourse(course)" class="badge">view More</button>
	<button (click)="deleteCourse(i)" class="badge">delete</button>
</li>
</ul>
<course-details [sc]="selectedCourse" *ngIf="selectedCourse" (xyz)="abc($event)"></course-details>
<hr>
<input type="text" #temp1 (keyup)="0">
<h1>{{temp1.value}}</h1>

<input type="text" #temp2 (keyup)="0">
<h1>{{temp2.value}}</h1>

<button (click)="save(temp1.value,temp2.value)">Save</button>
<hr>
